# Notebook

In this notebook in the data preparation step, the datasets for cyclist and weather data are loaded, column names are adjusted, data types checked and aligned and then exported to be used with the notebook [2_EDA](https://github.com/Rudinius/Bike_usage_Bremen/blob/4f39d66836e0585770c37d1cf261b0c0dd95101f/2_EDA.ipynb).

The datasets for geo-locations, vacations and holidays are self created from online scources and therefore do not need any further data preparation.

<a name="content"></a>
# Content

* [1. Import libraries and mount drive](#1)
* [2. Import datasets](#2)
    * [2.1 Preparing cyclists dataset](#2.1)
    * [2.2 Preparing weather dataset](#2.2)
    * [2.3 Preparing geolocations of stations](#2.3)
    * [2.4 Public holidays](#2.4)
    * [2.5 School vacations](#2.5)

<a name="1"></a>
# 1.&nbsp;Import libraries
[Content](#content)

In [ ]:
# Import libraries
import datetime
import numpy as np
import pandas as pd

<a name="2"></a>
# 2.&nbsp;Import datasets

[Content](#content)

Next, the raw datasets of the projects data folder for the number of cyclists and weather data will be imported.

* cyclists_2013-2021_daily.csv Dataset with dailz values of different measuring points in Bremen from 01.01.2013 to 31.12.2022
* weather_2013-2020.csv Dataset with daily weather values like min, max temperature, rainfall,... from 01.01.2023 to 31.12.2020
* weather_2021-2022.csv Dataset with daily weather values like min, max temperature, rainfall,... from 01.01.2021 to 31.12.2022

The data of amount of cyclists for different counting stations has been taken from [VMZ Bremen](https://vmz.bremen.de/rad/radzaehlstationen-abfrage). Each column is the name of a different counting station.

The weather data has been imported from [Meteostat](https://meteostat.net/).

<a name="2.1"></a>
## 2.1 Preparing cyclists dataset

[Content](#content)

In [ ]:
# Set base url
url = "https://raw.githubusercontent.com/Rudinius/Bike_usage_Bremen/main/data/"

In [ ]:
# Import datasets

# The original csv file uses ';' as a seperator. We will also parse the date column as datetime64
df_cyclist = pd.read_csv(url + "raw_cyclists_2013-2022.csv", sep= ";", 
                         parse_dates=[0], index_col=[0])

In [ ]:
df_cyclist.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3652 entries, 2013-01-01 to 2022-12-31
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Graf-Moltke-Straße (Ostseite)   3622 non-null   float64
 1   Graf-Moltke-Straße (Westseite)  3576 non-null   float64
 2   Hastedter Brückenstraße         3636 non-null   float64
 3   Langemarckstraße (Ostseite)     3639 non-null   float64
 4   Langemarckstraße (Westseite)    3651 non-null   float64
 5   Osterdeich                      3651 non-null   float64
 6   Radweg Kleine Weser             3550 non-null   float64
 7   Schwachhauser Ring              3652 non-null   int64
 8   Wachmannstraße auswärts (Süd)   3561 non-null   float64
 9   Wachmannstraße einwärts (Nord)  3474 non-null   float64
 10  Wilhelm-Kaisen-Brücke (Ost)     3652 non-null   int64
 11  Wilhelm-Kaisen-Brücke (West)    3606 non-null   float64
dtypes: float64(10), int64(2)
memory usage: 370.9 KB

In [ ]:
df_cyclist.head()

,Graf-Moltke-Straße (Ostseite),Graf-Moltke-Straße (Westseite),Hastedter Brückenstraße,Langemarckstraße (Ostseite),Langemarckstraße (Westseite),Osterdeich,Radweg Kleine Weser,Schwachhauser Ring,Wachmannstraße auswärts (Süd),Wachmannstraße einwärts (Nord),Wilhelm-Kaisen-Brücke (Ost),Wilhelm-Kaisen-Brücke (West)
Zeitpunkt ('Y-m-d H:i:s'),,,,,,,,,,,,
2013-01-01,261.0,290.0,381.0,312.0,308.0,870.0,410.0,391,514.0,267.0,1228,563.0
2013-02-01,554.0,640.0,1209.0,1224.0,1088.0,1847.0,1754.0,733,1784.0,1474.0,3569,2267.0
2013-03-01,602.0,688.0,1066.0,1199.0,1098.0,1793.0,1680.0,737,1715.0,1351.0,3484,2222.0
2013-04-01,741.0,796.0,1217.0,1297.0,1110.0,2003.0,1857.0,842,1903.0,1585.0,4003,2496.0
2013-05-01,602.0,687.0,916.0,928.0,752.0,1621.0,1362.0,743,1318.0,1095.0,3139,1786.0

**Change column names**

First we will change the names to shorter names and to eliminate spaces and German special characters.

We will change the names as per following table and we will change the name of the index colum as well from `Zeitpunkt ('Y-m-d H:i:s')` to `date`.

<center>

Table: Mapping of new colum names for cyclist dataset

| Old name | New name |
| --- | --- |
| Graf-Moltke-Straße (Ostseite) | GrafMoltkeStrEast |
| Graf-Moltke-Straße (Westseite) | GrafMoltkeStrWest |
| Hastedter Brückenstraße | HastedterBrStr |
| Langemarckstraße (Ostseite) | LangemarckStrEast |
| Langemarckstraße (Westseite) | LangemarckStrWest |
| Osterdeich | Osterdeich |
| Radweg Kleine Weser | RadwegKleineWeser |
| Schwachhauser Ring | SchwachhauserRing |
| Wachmannstraße auswärts (Süd) | WachmannStrAusSouth |
| Wachmannstraße einwärts (Nord) | WachmannStrEinNorth |
| Wilhelm-Kaisen-Brücke (Ost) | WilhelmKaisenBrEast |
| Wilhelm-Kaisen-Brücke (West) | WilhelmKaisenBrWest |

</center>

In [ ]:
# Renaming columns
df_cyclist = df_cyclist.rename(columns={"Graf-Moltke-Straße (Ostseite)":"GrafMoltkeStrEast",
                                 "Graf-Moltke-Straße (Westseite)": "GrafMoltkeStrWest",
                                 "Hastedter Brückenstraße":"HastedterBrStr",
                                 "Langemarckstraße (Ostseite)": "LangemarckStrEast",
                                 "Langemarckstraße (Westseite)": "LangemarckStrWest",
                                 "Osterdeich": "Osterdeich",
                                 "Radweg Kleine Weser": "RadwegKleineWeser",
                                 "Schwachhauser Ring": "SchwachhauserRing",
                                 "Wachmannstraße auswärts (Süd)": "WachmannStrAusSouth",
                                 "Wachmannstraße einwärts (Nord)": "WachmannStrEinNorth",
                                 "Wilhelm-Kaisen-Brücke (Ost)": "WilhelmKaisenBrEast",
                                 "Wilhelm-Kaisen-Brücke (West)": "WilhelmKaisenBrWest"})

# Apply new name to index
df_cyclist.index.names = ['date']

**Sorting the date column**

For the cylist dataset, the rows are not in an ordered way. Therefore before we export the new dataset, we have to sort the index.

In [ ]:
# Sort values of index column
df_cyclist = df_cyclist.sort_index()

# Check dataset
df_cyclist.head()

,GrafMoltkeStrEast,GrafMoltkeStrWest,HastedterBrStr,LangemarckStrEast,LangemarckStrWest,Osterdeich,RadwegKleineWeser,SchwachhauserRing,WachmannStrAusSouth,WachmannStrEinNorth,WilhelmKaisenBrEast,WilhelmKaisenBrWest
date,,,,,,,,,,,,
2013-01-01,261.0,290.0,381.0,312.0,308.0,870.0,410.0,391,514.0,267.0,1228,563.0
2013-01-02,750.0,876.0,1109.0,1258.0,1120.0,2169.0,1762.0,829,1786.0,1456.0,4024,2355.0
2013-01-03,931.0,1015.0,1603.0,1556.0,1480.0,2295.0,2287.0,1196,2412.0,2035.0,5013,3028.0
2013-01-04,500.0,587.0,1284.0,703.0,626.0,1640.0,1548.0,1418,964.0,702.0,2382,1121.0
2013-01-05,1013.0,1011.0,0.0,1856.0,1621.0,4128.0,4256.0,3075,2065.0,1377.0,5736,3221.0

**Export new dataset**

Now that we prepared the cyclist dataset, we export it to a new CSV file.

In [ ]:
#date = datetime.date.today()

#df_cyclist.to_csv(path_data + f"{date}" + "_processed_" + "cyclists_2013-2022.csv")

# <a name="2.2"></a>
## 2.2 Preparing weather dataset

[Content](#content)

The weather dataset is split into two files. One ranging from 2013 to 2020 and one from 2020 to 2022. Here we will concatenate both files and export as one.

In [ ]:
# Import datasets

# The weather data is splitted among two files. Both files will be read seperately and
# concatenated. While concatenated, we set ignore_index=True, to have a increasing index
# from 0 to N-1 over the entire dataset
df_weather_a = pd.read_csv(url + "raw_weather_2013-2020.csv", parse_dates=[0], index_col=[0])
df_weather_b = pd.read_csv(url + "raw_weather_2021-2022.csv", parse_dates=[0], index_col=[0])
df_weather = pd.concat([df_weather_a, df_weather_b], axis=0)

In [ ]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3652 entries, 2013-01-01 to 2022-12-31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tavg    3652 non-null   float64
 1   tmin    3652 non-null   float64
 2   tmax    3652 non-null   float64
 3   prcp    3652 non-null   float64
 4   snow    3439 non-null   float64
 5   wdir    3642 non-null   float64
 6   wspd    3652 non-null   float64
 7   wpgt    3651 non-null   float64
 8   pres    3652 non-null   float64
 9   tsun    3652 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 313.8 KB

In [ ]:
# Check dataframe
df_weather.head()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
date
2013-01-01   6.9   3.5   9.1   6.9   0.0  233.0  19.4  50.4  1001.8     0
2013-01-02   5.6   4.2   7.1   1.8   0.0  246.0  20.2  40.0  1017.5    30
2013-01-03   8.6   6.0  10.6   0.9   0.0  257.0  23.8  45.7  1024.5     0
2013-01-04   8.8   6.8   9.7   0.0   0.0  276.0  25.2  48.2  1029.5     0
2013-01-05   7.7   6.5   8.6   0.1   0.0  293.0  20.2  41.0  1029.9     0

**Export new dataset**

As the dataset has already good names and correct datatypes we will export this new combined dataset.

In [ ]:
#df_weather.to_csv(url + f"{date}" + "_processed_" + "weather_2013-2022.csv")

<a name="2.3"></a>
## 2.3 Preparing geolocations of stations

[Content](#content)

For the geo-locations there is no dataset to import and the data is not available in the cyclist dataset. Thefore we added those locations manually from the [VMZ website](https://vmz.bremen.de/radzaehlstationen/).

<center>

Table: Geolocations of counting stations

| Name | Geo-location|
| --- | --- |
|Graf-Moltke-Straße (Ostseite) | 53.0778, 8.8330 |
|Graf-Moltke-Straße (Westseite) | 53.0781, 8.8328 |
|Hastedter Brückenstraße | 53.0612, 8.8528 |
|Langemarkstraße (Ostseite) | 53.0764, 8.7974 |
|Langemarkstraße (Westseite) | 53.0765, 8.7969 |
|Osterdeich | 53.0693, 8.8198 |
|Radweg Kleine Weser | 53.0660, 8.8073 |
|Schwachhauser Ring | 53.0891, 8.8409 |
|Wachmannstraße auswärts (Süd) | 53.0845, 8.8263 |
|Wachmannstraße einwärts (Nord) | 53.0847, 8.8264 |
|Wilhelm-Kaisen-Brücke (Ost) | 53.0722, 8.8040 |
|Wilhelm-Kaisen-Brücke (West) | 53.0726, 8.8040 |

</center>

For the names inside the python object, we will use the shortened names according to `Table 1` above.

In [ ]:
geolocations =  {"GrafMoltkeStrEast": (53.0778, 8.8330),
                 "GrafMoltkeStrWest": (53.0781, 8.8328),
                 "HastedterBrStr": (53.0612, 8.8528),
                 "LangemarckStrEast": (53.0764, 8.7974),
                 "LangemarckStrWest": (53.0765, 8.7969),
                 "Osterdeich": (53.0693, 8.8198),
                 "RadwegKleineWeser": (53.0660, 8.8073),
                 "SchwachhauserRing": (53.0891, 8.8409),
                 "WachmannStrAusSouth": (53.0845, 8.8263),
                 "WachmannStrEinNorth": (53.0847, 8.8264),
                 "WilhelmKaisenBrEast": (53.0722, 8.8040),
                 "WilhelmKaisenBrWest": (53.0726, 8.8040)
                }

In [ ]:
df_geolocations = pd.DataFrame(data=geolocations.values() ,index=geolocations.keys(), columns=["latitude", "longitude"])
df_geolocations.index.names = ["name"]

# Check dataframe
df_geolocations.head()

                   latitude  longitude
name
GrafMoltkeStrEast   53.0778     8.8330
GrafMoltkeStrWest   53.0781     8.8328
HastedterBrStr      53.0612     8.8528
LangemarckStrEast   53.0764     8.7974
LangemarckStrWest   53.0765     8.7969

**Export new dataset**

We will also export this newly created dataset for later use.

In [ ]:
# we created this dateset new, but still use the label `processed` to indicate that we created/changed it
#df_geolocations.to_csv(path_data + f"{date}" + "_processed_" + "geolocations.csv")

<a name="2.4"></a>
# 2.4 Public holidays

[Content](#content)

The dataset for the public holidays was not available as a downloadable `csv` file. 

Therefore we created it ourself. The dataset has the following form:

<center>

Table: Public holidays

| date | Holiday |
| --- | --- |
| ... | ... |
| ... | ... |
| ... | ... |


</center>

The dataset is stored under the file `raw_holidays_2013-2022.csv`.

In [ ]:
df_holidays = pd.read_csv(url + "raw_holidays_2013-2022.csv", parse_dates=[0], index_col=[0], sep=";")
df_holidays.head()

                        Holiday
date
2013-01-01              Neujahr
2013-03-29           Karfreitag
2013-04-01          Ostermontag
2013-05-01       Tag der Arbeit
2013-05-09  Christi Himmelfahrt

<a name="2.5"></a>
# 2.5 School vacation

[Content](#content)

The dataset for the school vacations was not available as a downloadable `csv` file. 

Therefore we created it ourself. The dataset has the following form:

<center>

Table: School vacation

| date | Vacation |
| --- | --- |
| ... | ... |
| ... | ... |
| ... | ... |


</center>

The dataset is stored under the file `raw_vacation_2013-2022.csv`.

In [ ]:
df_vacation = pd.read_csv(url + "raw_vacation_2013-2022.csv", parse_dates=[0], index_col=[0], sep=";")
df_vacation.head()

                    Vacation
date
2013-01-01  Weihnachtsferien
2013-01-02  Weihnachtsferien
2013-01-03  Weihnachtsferien
2013-01-04  Weihnachtsferien
2013-01-05  Weihnachtsferien